################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/DistQueue/v15
/DistQueue.Shard/obj
/DistQueue.Shard.Tests/bin/Debug
/DistQueue.Shard/bin/Debug
/DistQueue.Shard.Tests/obj/MCD
/DistQueue.Shard.Tests/obj/Debug
/DistQueue.Shard.Tests/obj
/.vs/DistQueue/DesignTimeBuild
/.vs/config
/Bin/netcoreapp2.1
